.navbar-brand{
    font-weight: bold;
    /* font-size: 48px; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* .d-flex{
    margin-left: 30px;
} */

.nav-link{
    margin-left: 40px;
    font-size: 18px;
    color: white;
}

.nav-link:hover{
    color: white;
    text-decoration: underline;
}

.navbar .dark-mode button {
border: none;
  background: none;
  color: rgb(110, 180, 100);
  font-size: 25px;
}

.dark-mode{
    /* margin-left: 190px; */
  background-color: black;
  color: white;
}

/* navbar ends here */

/* home starts here */
.section {
  background-color: whitesmoke;
  padding: 200px;
  text-align: center;
}

.section div b {
  color: rgb(6, 116, 79);
}

.section div h1 {
  font-size: 38px;
}


.section div p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.section div button a {
  text-decoration: none;
  color: white;
}

.section div button {
  border: none;
  padding: 15px;
  margin-top: 10px;
  font-size: 16px;
  background-color: rgb(6, 116, 79);
  border-radius: 5px;
}

.section div button:hover {
  cursor: pointer;
}

/* home ends here */

/* about starts here */
.header h1 {
text-align: center;
margin-top: 40px;
font-size: 48px;
color: rgb(6, 116, 79);
text-decoration: underline;
}

.header main {
  display: flex;
}

.header main img {
  width: 300px;
  height: 250px;
  margin-left: 250px;
  margin-top: 30px;
  border-color: rgb(6, 116, 79);
  border-radius: 40px;
  border-style: groove;
}

.header main div p {
  width: 70%;
  margin-left: 90px;
  margin-top: 30px;
  line-height: 1.5;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:whitesmoke;
  box-shadow: 0px;
  padding: 20px;
  border-radius: 8px;
}

.header main div .b1 {
  color: rgb(6, 116, 79);
}
/* about ends here */

/* skills starts here */
.figure h1{
  text-align: center;
  font-size: 38px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 50px;
}

.figure .p {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.figure .btn {
background-color:rgb(252, 154, 119);
border: none;
border-radius: 30px;
padding: 25px ;
font-weight: bold;
font-size: 16px;
margin-left: 90px;
line-height: 1.5;
cursor: pointer;
}

.figure .btn:hover {
  background-color: rgb(252, 154, 119);
  scale: 1.2;
} 

.figure .btn1 {
 background-color:rgb(120, 120, 250);
border: none;
border-radius: 30px;
padding: 25px ;
font-size: 16px;
font-weight: bold;
margin-left: 60px;
margin-top: 30px;
line-height: 1.5;
cursor: pointer;
}

.figure .btn1:hover {
  scale: 1.2;
} 
.figure .btn2 {
background-color:rgb(252, 208, 64);
border: none;
border-radius: 30px;
padding: 25px ;
font-size: 16px;
font-weight: bold;
margin-left: 60px;
margin-top: 30px;
line-height: 1.5;
}


.figure .btn2:hover {
  scale: 1.2;
} 

.figure .btn3 {
 background-color:rgb(245, 73, 245);
border: none;
border-radius: 30px;
padding: 25px ;
font-size: 16px;
font-weight: bold;
margin-left: 60px;
margin-top: 30px;
line-height: 1.5;
}


.figure .btn3:hover {
  scale: 1.2;
} 
/* skills ends here */

/* project starts here */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 90px;
}

.grid-container div h4 {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.grid-container div p {
  width: 60%;
  width: 90%;
  font-size: 16px;
  margin-top: -10px;
  margin-bottom: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.grid-container div a{
  text-decoration: none;
  color: black;
}



.grid-container img {
  margin-bottom: 20px;
  width: 280px;
  height: 250px;
  cursor: pointer;
  border-radius: 8px;
}

.grid-container img:hover {
  scale: 1.1;
}

/* projects ends here */

/* testimonial starts here */

.f1 {
  background-color: rgb(6, 116, 79);
  margin-top: 30px;
  padding: 30px;
}

.f1 h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  color: white;
}

.f1 i {
  margin-left: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

/* testimonials ends here */

/* contact starts here */
main h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}

main input {
  padding-right: 130px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: 520px;
}

main textarea {
 padding-right: 150px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 520px; 
}

main button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:200px;
  padding-right: 200px;
  text-align: center;
  margin-top: 10px;
  margin-left: 460px;
  border: none;
  background-color: rgb(6, 116, 79);
  color: white;
}

main button a {
  text-decoration: none;
  color: white;
}

main button a:hover {
  cursor: pointer;
}
/* contact ends here */

/* icon starts here */
.sect .main2 div img {
  width: 40px;
}

.sect .main2 div {
  display: inline;
  text-align: center;
  margin-top: 70px;
}

.sect .main2 .d1  {
  margin-left: 600px;
  margin-top: 70px;
}
/* icon ends here */


/* footer starts here */
footer {
  background-color: rgb(73, 71, 71);
  padding: 20px;
}

footer p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: white;
}


       #myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: rgb(28, 124, 49);
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}


#myBtn:hover {
  background-color: red 
}
/* footer ends here */



@media only screen and (max-width:500px){
  

  .section{
    flex-direction: column;
  }
  .section div h1 {
    font-size: 38px;
    width: 300px;
    margin-left: -150px;
  }


.section div p {
  font-size: 20px;
  width: 230px;
  margin-left: -120px;
}

.section div button {
  padding: 10px;
  margin-left: -70px;
  width: 130px;
  font-size: 14px;
}

.header main {
  flex-direction: column;
}

.header main img {
  width: 250px;
  height: 200px;
  margin-left: 80px;
  margin-top: 30px;
}
.header main div p {
  width: 300px;
  margin-left: 60px;
  margin-top: 30px;
}

.figure {
  flex-direction: column;
}

.figure h1 {
  font-size: 30px;
}

.figure .p {
  font-size: 18px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 330px;
  margin-left: 30px;
  line-height: 1.5;
}

.figure .btn{
  padding: 15px;
  font-size: 14px;
  margin-left: 80px;
  width: 200px;
}

.figure .btn1{
  padding: 15px;
  font-size: 14px;
  margin-left: 80px;
  width: 200px;
}

.figure .btn2{
  padding: 15px;
  font-size: 14px;
  margin-left: 80px;
  width: 200px;
}

.figure .btn3{
  padding: 15px;
  font-size: 14px;
  margin-left: 80px;
  width: 200px;
}

.figure .btn .btn1 .btn2 .btn3:hover {
  border-style: groove;
  border-color: black;
}

.grid-container {
  grid-template-columns: repeat(1,1fr);
  margin-left: 35px;
}

.sec2 main {
  flex-direction: column;
  margin-left: -50px;
}

.f1 i {
  margin-left: -20px;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

main input {
  margin-left: 50px;
}

main textarea {
  margin-left: 50px;
}

main button {
  margin-left: 40px;
  padding-left: 160px;
  padding-right: 150px;
}

.sect .main2 .d1  {
  margin-left: 150px;
  margin-top: 70px;

}
}