* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.navbar ul li {
  display: inline;
  list-style: none;
  padding: 20px;
}

.navbar ul li a {
text-decoration: none;
color: white;
font-size: 20px;
font-family:Verdana, Geneva, Tahoma, sans-serif
}

.navbar ul li a:hover{
  color: black;
  padding-bottom: 10px; 
}

.navbar h2 a {
  text-decoration: none;
  color:white;
}

.navbar h2:hover {
  cursor: pointer;
  transition: zoom-out 0.10s ease-in;
  
}

.navbar{
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px;
  background-color: rgb(6, 116, 79);
  color: white;
  font-family:Verdana, Tahoma, sans-serif;
  font-size: 16px;
   position: fixed;
   z-index: 1;
  top: 0;
  width:100%;
  padding: 10px;
}

.navbar .menu-toggle {
  padding: 0;
  width: 5px;
  height: 5px;
  color: blanchedalmond;
  align-items: center;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  width: 40px;
}


.section {
  background-color: whitesmoke;
  padding: 200px;
  text-align: center;
}

.section div b {
  color: rgb(6, 116, 79);
}

.section div h1 {
  font-size: 38px;
}


.section div p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.section div button a {
  text-decoration: none;
  color: white;
}

.section div button {
  border: none;
  padding: 15px;
  margin-top: 10px;
  font-size: 16px;
  background-color: rgb(6, 116, 79);
  border-radius: 5px;
}

.section div button:hover {
  cursor: pointer;
}

.header h1 {
text-align: center;
margin-top: 40px;
font-size: 48px;
color: rgb(6, 116, 79);
text-decoration: underline;
}

.header main {
  display: flex;
}

.header main img {
  width: 300px;
  height: 250px;
  margin-left: 250px;
  margin-top: 30px;
  border-color: rgb(6, 116, 79);
  border-radius: 40px;
  border-style: groove;
}

.header main div p {
  width: 70%;
  margin-left: 90px;
  margin-top: 30px;
  line-height: 1.5;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:whitesmoke;
  box-shadow: 0px;
  padding: 20px;
  border-radius: 8px;
}

.header main div .b1 {
  color: rgb(6, 116, 79);
}

.figure h1{
  text-align: center;
  font-size: 38px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 50px;
}

.figure .p {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.figure .btn {
background-color:rgb(252, 154, 119);
border: none;
border-radius: 30px;
padding: 25px ;
font-size: 16px;
margin-left: 90px;
margin-top: 30px;
line-height: 1.5;
}

.figure .btn1 {
 background-color:rgb(120, 120, 250);
border: none;
border-radius: 30px;
padding: 25px ;
font-size: 16px;
margin-left: 60px;
margin-top: 30px;
line-height: 1.5;
}

.figure .btn2 {
background-color:rgb(252, 208, 64);
border: none;
border-radius: 30px;
padding: 25px ;
font-size: 16px;
margin-left: 60px;
margin-top: 30px;
line-height: 1.5;
}

.figure .btn3 {
 background-color:rgb(245, 73, 245);
border: none;
border-radius: 30px;
padding: 25px ;
font-size: 16px;
margin-left: 60px;
margin-top: 30px;
line-height: 1.5;
}

.sec2 {
  background-color: whitesmoke;
  margin-top: 40px;
}

.sec2 h1 {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
}

.sec2 main {
  display: flex;
}

.sec2 main div {
  margin-top: 20px;
  background-color: white;
  padding-bottom: 30px;
  box-shadow: 20%;
  margin-left: 60px;
  border-style: groove;
  border-radius: 10px;
  transition: ease-in;

}

.sec2 main div .imgg {
  width: 300px;
  height: 100px;
  padding-left: 1%;
}

.sec2 main div .img2 {
  padding-left: 10px;
  width: 150px;
  height: 100px;
}

.sec2 main div h3 {
  margin-left: 10px;
}

.sec2 main div p{
  width: 70%;
  margin-bottom: 20px;
  margin-left: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sec2 main div a {
  text-decoration: none;
  margin-left: 100px;
  color: white;
  background-color: rgb(6, 116, 79);
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 7px;
}

.f1 {
  background-color: rgb(6, 116, 79);
  margin-top: 30px;
  padding: 30px;
}

.f1 h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  color: white;
}

.f1 i {
  margin-left: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

main h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}

main input {
  padding-right: 130px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: 520px;
}

main textarea {
 padding-right: 150px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 520px; 
}

main button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:200px;
  padding-right: 200px;
  text-align: center;
  margin-top: 10px;
  margin-left: 460px;
  border: none;
  background-color: rgb(6, 116, 79);
  color: white;
}

main button a {
  text-decoration: none;
  color: white;
}

main button a:hover {
  cursor: pointer;
}

footer {
  background-color: rgb(73, 71, 71);
  padding: 20px;
}

footer p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: white;
}

.sect .main2 div img {
  width: 40px;
}

.sect .main2 div {
  display: inline;
  text-align: center;
  margin-top: 70px;
}

.sect .main2 .d1  {
  margin-left: 600px;
  margin-top: 70px;
}




@media only screen and (max-width:500px){
  
   
  .menu-toggle {
    display: block;
    width: 20px;
  }

  .navbar ul li a {
    position: fixed;
    top: 70px;
    right:-100%;
    width: 40%;
    height:30vh;
    background-color: whitesmoke;
    transition: right 0.4s ease-in-out;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .navbar ul li  {
    gap: 20px;
  }

  .navbar.active{
    right: 0;
  }

  .menu-toggle.open i {
    transform: rotate(90deg);
    font-size: 28px;
  }

  .section{
    flex-direction: column;
  }
  .section div h1 {
    font-size: 38px;
    width: 300px;
    margin-left: -150px;
  }


.section div p {
  font-size: 20px;
  width: 230px;
  margin-left: -120px;
}

.section div button {
  padding: 10px;
  margin-left: -70px;
  width: 130px;
  font-size: 14px;
}

.header main {
  flex-direction: column;
}

.header main img {
  width: 250px;
  height: 200px;
  margin-left: 80px;
  margin-top: 30px;
}
.header main div p {
  width: 300px;
  margin-left: 60px;
  margin-top: 30px;
}

.figure {
  flex-direction: column;
}

.figure h1 {
  font-size: 30px;
}

.figure .p {
  font-size: 18px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 330px;
  margin-left: 30px;
  line-height: 1.5;
}

.figure .btn{
  padding: 15px;
  font-size: 14px;
  margin-left: 80px;
  width: 200px;
}

.figure .btn1{
  padding: 15px;
  font-size: 14px;
  margin-left: 80px;
  width: 200px;
}

.figure .btn2{
  padding: 15px;
  font-size: 14px;
  margin-left: 80px;
  width: 200px;
}

.figure .btn3{
  padding: 15px;
  font-size: 14px;
  margin-left: 80px;
  width: 200px;
}

.figure .btn .btn1 .btn2 .btn3:hover {
  border-style: groove;
  border-color: black;
}

.sec2 main {
  flex-direction: column;
  margin-left: -50px;
}

.f1 i {
  margin-left: -20px;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

main input {
  margin-left: 50px;
}

main textarea {
  margin-left: 50px;
}

main button {
  margin-left: 40px;
  padding-left: 160px;
  padding-right: 150px;
}

.sect .main2 .d1  {
  margin-left: 150px;
  margin-top: 70px;

}
}